.Posts {
    border: 1px solid black;
}

.Forum-name {
    text-align: center;
    text-decoration: underline;
    margin: 0;
}

.Posts-list {
    overflow-y: auto;
    height: 68vh;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-top: 0;
    padding-right: 1px;
}

.Posts-list::-webkit-scrollbar {
    -webkit-appearance: none;
}

.Posts-list::-webkit-scrollbar:vertical {
    width: 5px;
}

.Posts-list::-webkit-scrollbar:horizontal {
    width: 11px;
}

.Posts-list::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
}

.post,
.new-post {
    border: 5px solid white;
    border-radius: 5px;
    list-style: none;
    margin-top: 2vh;
}

.post:hover,
.new-post:hover {
    border-color: #27ae60;
}

.post h3,
.post span,
.post p,
.new-post-content {
    margin: 2vh;
}

.new-post-content {
    width: 85%;
}

.delete-post {
    border: none;
    background-color: white;
    float: right;
    margin: .5vh;
}

.new-post-button:hover,
.delete-post:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

.new-post label {
    display: block;
    margin-left: 2vw;
    margin-top: 1vh;
}

.new-post-button {
    border: none;
    background-color: white;
    margin: .5vh;
    display: block;
}

.back-to-forums-button {
    border: 5px solid white;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 1vh;
    font-size: 2vw;
}

.back-to-forums-button:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}

/* iPad Portrait */
@media only screen and (min-width: 420px) {
    .post h3,
    .post span,
    .post p,
    .new-post-content,
    .new-post label {
        font-size: 3vh;
    }

    .new-post-button,
    .delete-post {
        font-size: 2vh;
    }
}

/* Mobile Landscape */
@media only screen and (orientation: landscape) {
    .Posts-list {
        height: 47vh;
    }

    .post h3,
    .post span,
    .post p,
    .new-post-content,
    .new-post label {
        font-size: 3vw;
    }

    .new-post-button,
    .delete-post {
        font-size: 2vw;
    }
}

/* Desktop */
@media only screen and (min-width: 1000px) {
    .Posts-list {
        height: 55vh;
        margin-top: 5px;
    }

    .Forum-name {
        font-size: 3vw;
    }
}