.Posts {
    border: 1px solid black;
}

.Forum-name {
    text-align: center;
    text-decoration: underline;
    margin: 0;
}

.Posts-list {
    overflow-y: auto;
    height: 70vh;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    margin-top: 0;
}

.post,
.new-post {
    border: 5px solid white;
    border-radius: 5px;
    list-style: none;
    margin: 2vh;
}

.post h3,
.post span,
.post p,
.new-post-content {
    margin: 2vh;
}

.delete-post {
    border: 1px solid black;
    background-color: white;
    float: right;
    margin: .5vh;
}

.new-post label {
    display: block;
    margin-left: 2vw;
    margin-top: 1vh;
}

.new-post-button {
    border: 1px solid black;
    background-color: white;
    margin: .5vh;
    margin-left: 73%;
}

.back-to-forums-button {
    border: 5px solid white;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 1vh;
}