.Header {
    text-align: center;
    border: 5px solid white;
    border-radius: 5px;
    height: 10vh;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

.Header-title {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3vh;
    text-decoration: none;
    color: white;
    padding: 2vh;
}

.Header-title h1 {
    font-weight: normal;
}

.logout-button {
    border: 1px solid black;
    background-color: white;
    box-shadow: 5px 5px;
    position: absolute;
    top: 4vh;
    right: 4vw;
}