.Header {
    text-align: center;
    border: 5px solid white;
    border-radius: 5px;
    height: 10vh;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

.Header-title {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3vh;
    text-decoration: none;
    color: white;
    padding: 2vh;
}

.Header-title h1 {
    font-weight: normal;
}

.Header-welcome {
    position: absolute;
    width: 100vw;
    text-align: center;
    top: 0;
    background-color: white;
    color: black;
}

.logout-button {
    border: 5px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
    position: absolute;
    top: 9vh;
    right: 2vw;
    transform: rotate(90deg);
}