.Header {
    text-align: center;
    border: 5px solid white;
    border-radius: 5px;
    height: 10vh;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    overflow: hidden;
}

.Header-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: white;
    padding: 2vh;
    padding-top: 3vh;
    padding-bottom: 0;
    font-size: 3.9vw;
}

.Header-title:hover,
.logout-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.Header-title h1 {
    font-weight: normal;
    margin: 0;
}

.Header-welcome {
    position: absolute;
    width: 100vw;
    text-align: center;
    top: 0;
    left: 0;
    background-color: white;
    color: black;
    font-size: 3vmax;
}

.logout-button {
    border: 5px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
    position: absolute;
    top: 8.5vh;
    right: 6.5vw;
    transform: rotate(90deg);
}

/* iPad Portrait */
@media only screen and (min-width: 420px) {
    .Header-title {
        padding-top: 1.5vh;
    }

    .logout-button {
        font-size: 2vh;
        right: 14vw;
    }
}

/* Mobile Landscape */
@media only screen and (orientation:landscape) {
    .Header {
        margin-top: 5vw;
        height: 8vw;
    }

    .Header-title {
        padding: 2vw;
        padding-top: 1vw;
    }

    .logout-button {
        font-size: 2vw;
        top: 8.5vw;
        right: 15vw;
    }
}

/* Desktop */
@media only screen and (min-width: 1000px) {
    .Header-welcome {
        font-size: 2.5vh;
    }

    .Header-title {
        padding-top: 0;
    }
}