.registerContainer {
    position: relative;
    border: 5px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
    width: 60vw;
    height: fit-content;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50vw;
    padding: 2vh;
}

.closeRegister {
    position: absolute;
    background-color: black;
    color: red;
    border: none;
    right: 0;
    top: 0;
    font-size: large;
}

.closeRegister:hover {
    cursor: pointer;
    color: white;
}

.registerContainer input {
    width: 90%;
}

/* iPad Portrait */
@media only screen and (min-width: 420px) {
    .registerContainer {
        margin-top: -30vw;
    }

    .registerContainer * {
        font-size: 3vw;
    }
}

/* Mobile Landscape */
@media only screen and (orientation:landscape) {
    .registerContainer {
        margin-top: -59vh;
    }
}

/* Desktop */
@media only screen and (min-width: 1000px) {
    .registerContainer {
        margin-top: -40vh;
    }
}