.MainLanding {
    border: 1px solid black;
    height: fit-content;   /* Remove calc when done with design */
}

.MainLanding-title {
    position: relative;
    border: 5px solid white;
    border-radius: 5px;
    width: fit-content;
    padding: 1vh;
    margin-left: 17.5vw;
    margin-top: 10vh;
    font-weight: normal;
    z-index: 1;
}

.MainLanding-buttons {
    position: relative;
    border: 5px solid white;
    border-radius: 5px;
    width: fit-content;
    margin-left: 25vw;
    margin-top: -7.5vh;
    background-color: black;
    z-index: 2;
}

.MainLanding-login-button,
.MainLanding-register-button,
.MainLanding-anonymous-button {
    display: block;
    margin: 2vh;
    margin-left: 8vw;
    text-decoration: none;
    color: white;
    width: fit-content;
    padding: 2vh;
}

.MainLanding-login-button:hover {
    cursor: pointer;
}

.closeButtons {
    position: absolute;
    background-color: black;
    color: white;
    border: none;
    right: 0;
    top: 0;
    font-size: large;
}