.MainLanding {
    border: 1px solid black;
    height: fit-content;
}

.MainLanding-title {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    font-weight: normal;
    text-align: center;
}

.ShowButtons-button {
    border: 5px solid white;
    border-radius: 5px;
    width: fit-content;
    padding: 2vh;
    font-weight: normal;
    font-size: 4vh;
    margin-left: auto;
    margin-right: auto;
    background-image: repeating-linear-gradient(45deg, 
                                            violet, 
                                            indigo, 
                                            blue, 
                                            green, 
                                            yellow, 
                                            orange, 
                                            red, 
                                            violet);
    background-size: 800% 800%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 8s ease infinite;
}

@keyframes rainbow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 25%; }
    100% { background-position: 0% 50%; }
}

.ShowButtons-button:hover {
    cursor: pointer;
    animation: none;
    -webkit-text-fill-color: black;
    background: white;
} 

.MainLanding-buttons {
    border: 5px solid white;
    border-radius: 5px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: -18vh;
    background-color: black;
    position: relative;
}

.MainLanding-buttons-close {
    font-size: 3vh;
    margin-left: 90%;
    color: red;
    text-align: center;
}

.MainLanding-login-button,
.MainLanding-register-button,
.MainLanding-anonymous-button {
    display: block;
    margin: 2vh;
    margin-left: 8vw;
    margin-top: 0;
    text-decoration: none;
    color: white;
    width: fit-content;
    padding: 2vh;
}

.MainLanding-login-button:hover,
.MainLanding-register-button:hover,
.MainLanding-anonymous-button:hover {
    cursor: pointer;
    color: #27ae60;
}

.closeButtons {
    position: absolute;
    background-color: black;
    color: white;
    border: none;
    right: 0;
    top: 0;
    font-size: large;
}

.MainLanding-buttons-close:hover {
    cursor: pointer;
    color: white;
}

/* iPad Portrait */
@media only screen and (min-width: 420px) {
    .MainLanding-title {
        font-size: 3vh;
    }

    .MainLanding-buttons {
        padding: 1vh;
        font-size: 5vw;
    }

    .MainLanding-login-button,
    .MainLanding-register-button,
    .MainLanding-anonymous-button {
        margin-left: 5vh;
    }
}

/* Mobile Landscape */
@media only screen and (orientation: landscape) {
    .MainLanding-title {
        font-size: 3vw;
    }

    .ShowButtons-button {
        font-size: 4vw;
    }

    .MainLanding-buttons {
        margin-top: -21vw;
        font-size: 3vw;
    }

    .MainLanding-buttons-close {
        font-size: 3vw;
        margin-left: 85%;
    }

    .MainLanding-login-button,
    .MainLanding-register-button,
    .MainLanding-anonymous-button {
        margin-left: 1vw;
    }
}