.Forums {
    border: 1px solid black;
}

.Forums-list {
    overflow-y: auto;
    overflow-x: auto;
    height: 75vh;
    width: 75%;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1px;
}

.Forums-list::-webkit-scrollbar {
    -webkit-appearance: none;
}

.Forums-list::-webkit-scrollbar:vertical {
    width: 5px;
}

.Forums-list::-webkit-scrollbar:horizontal {
    width: 11px;
}

.Forums-list::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
}

.forum,
.new-forum {
    border: 5px solid white;
    border-radius: 5px;
    margin-top: 2vh;
    list-style: none;
}

.forum:hover,
.new-forum:hover {
    cursor: pointer;
    border-color: #27ae60;
}

.forum h3,
.forum p,
.new-forum-title,
.new-forum-blurb,
.new-forum-header {
    margin: 2vh;
}

.delete-forum {
    float: right;
    margin: .5vh;
    color: black;
    background-color: white;
    border: none;
}

.delete-forum:hover,
.new-forum-button:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

.new-forum label {
    display: block;
    margin-left: 2vw;
    margin-top: 1vh;
}

.new-forum-button {
    display: block;
    border: none;
    background-color: white;
    color: black;
    position: relative;
    margin: .5vh;
}

/* iPad Portrait */
@media only screen and (min-width: 420px) {
    .forum h3,
    .forum p,
    .new-forum-title,
    .new-forum-blurb,
    .new-forum-header {
        font-size: 3vh;
    }

    .new-forum-button,
    .delete-forum {
        font-size: 2vh;
    }
}

/* Mobile Landscape */
@media only screen and (orientation: landscape) {
    .Forums-list {
        height: 55vh;
    }

    .forum h3,
    .forum p,
    .new-forum-title,
    .new-forum-blurb,
    .new-forum-header {
        font-size: 3vw;
    }
    
    .delete-forum,
    .new-forum-button {
        font-size: 2.5vw;
    }
}