.Forums {
    border: 1px solid black;
}

.Forums-list {
    overflow-y: auto;
    height: 75vh;
    width: 75%;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1px;
}

.Forums-list::-webkit-scrollbar {
    -webkit-appearance: none;
}

.Forums-list::-webkit-scrollbar:vertical {
    width: 5px;
}

.Forums-list::-webkit-scrollbar:horizontal {
    width: 11px;
}

.Forums-list::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
}

.forum,
.new-forum {
    border: 5px solid white;
    border-radius: 5px;
    margin-top: 2vh;
    list-style: none;
}

.forum h3,
.forum p,
.new-forum-title,
.new-forum-blurb,
.new-forum-header {
    margin: 2vh;
}

.delete-forum {
    float: right;
    margin: .5vh;
    color: black;
    background-color: white;
    border: none;
}

.new-forum label {
    display: block;
    margin-left: 2vw;
    margin-top: 1vh;
}

.new-forum-button {
    border: 1px solid black;
    background-color: white;
    margin: .5vh;
    margin-left: 77%;
}