.loginContainer {
    position: relative;
    display: block;
    border: 5px solid white;
    border-radius: 5px;
    background-color: black;
    width: 40vw;
    height: fit-content;
    padding: 2vh;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    margin-top: -21vw;
    z-index: 3;
}

.loginContainer input {
    width: 90%;
}

.closeLogin {
    position: absolute;
    background-color: black;
    color: red;
    border: none;
    right: 0;
    top: 0;
    font-size: large;
}

.closeLogin:hover {
    cursor: pointer;
    color: white;
}

.login_button {
    display: block;
    margin: 1.5vh;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    border: 5px solid white;
    border-radius: 5px;
    color: white;
    padding: 1vh;
}

.login_button:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}

#Login_error {
    color: red;
    font-weight: normal;
}

/* iPad Portrait */
@media only screen and (min-width: 420px) {
    .loginContainer * {
        font-size: 3vh;
    }
}

/* Mobile Landscape */
@media only screen and (orientation: landscape) {
    .loginContainer * {
        font-size: 3vw;
    }
}

/* Desktop */
@media only screen and (min-width: 1000px) {
    .loginContainer {
        width: 20vw;
    }
}